body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.orange{
    color: orange;
}

.flexible-container{
    display:  flex;
    margin-bottom: 140px;
}
.top_banner{
    background-image: url(./img/top-banner.png);
    background-repeat: no-repeat;
}
.half_width{
    width: 50%;
    padding-left: 10%;
}
.half_width .linkButton{
    text-decoration: none;
    background-image: linear-gradient(#f16914,#FF7052);
    /* background: rgb(219, 118, 35); */
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
}
.half_width img{
    width: 80%;
}
.half_width p{
    text-align: justify;
}
.dream-big{
    background-image: url(./img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(./img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left 0% bottom 10%;
}
.experience_item{
    box-shadow: 5px 5px 25px #4f5e52;
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    border-radius: 5px;
   
    

}
#exp{
    padding-left: 4%;
}
#full_stuck_dev{
    border-left: 6px solid #b94c08ef;
}
#baby_stuck_dev{
    border-left: 6px solid #1423f1;
}

footer{
    text-align: center;
}